# Célpontok
TARGET_APP_URL=https://richard-internal-web.local
INTERNAL_HOST=192.168.1.50
TCP_TARGET_PORT=443

# Scaler küszöbértékek (2. pillér)
CPU_SCALE_OUT_THRESHOLD=80.0
CPU_SCALE_IN_THRESHOLD=30.0
TRIGGER_WINDOW_SEC=15
POLL_INTERVAL_SEC=5

# Proxmox és Atmos hozzáférések
PROXMOX_URL=https://pve.bme.hu:8006
PROXMOX_NODE=pve-node-02
CONNECTOR_2_VMID=102
PROXMOX_TOKEN_ID=user@pam!token
PROXMOX_TOKEN_SECRET=titok

ATMOS_BASE_URL=https://tenant.axiscloud.io/api/v1
ATMOS_API_KEY=YOUR_ATMOS_API_KEY_HERE